:root {
	--background-color: #ffffff;
	--primary-text-color: #434455;
	--secondary-text-color: #2e2f42;
	--secondary-background-color: #f4f4fd;
	--logo-hover-color: #4d5ae5;
	--button-background-color: #e7e9fc;
	--alternative-text-color: #ffffff;
	--active-hero-button: #404bbf;
	--border-box-color: #8e8f99;
	--media-hover: #31d0aa;
	--modal-background-color: #fcfcfc;
}
/* main page */
body {
	background-color: var(--background-color);
	color: var(--primary-text-color);
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	letter-spacing: 0.02em;
}
/* general */
a {
	text-decoration: none;
}
p {
	margin: 0;
}
ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4 {
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
}
.container {
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
}

@media screen and (max-width: 320px) {
	.container {
		width: 320px;
	}
}
@media screen and (min-width: 428px) {
	.container {
		width: 428px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		width: 768px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
.section {
	padding-top: 96px;
	padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}
.heading {
	font-weight: 600;
}
/* header */
.page-header {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
	position: relative;
}
.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
	padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
	.main-nav {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
@media screen and (min-width: 1200px) {
	.main-nav {
		gap: 76px;
		align-items: center;
	}
}

/* logo */
.logo {
	margin-right: 77px;
	color: var(--secondary-text-color);
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.54px;
	text-transform: uppercase;
	cursor: pointer;
}
@media screen and (min-width: 768px) {
	.logo {
		margin-right: 123px;
	}
}
@media screen and (min-width: 1200px) {
	.logo {
		margin-right: 0;
	}
}
.logo-front {
	color: #4d5ae5;
}
.logo-back {
	color: var(--secondary-background-color);
}
.menu-button {
	display: inline-flex;
	padding: 0;
	border: 0;
	background-color: transparent;
}
@media screen and (min-width: 768px) {
	.menu-button {
		display: none;
	}
}
.icon-menu {
	fill: var(--secondary-text-color);
}
.drop-menu {
	display: none;
}
@media screen and (min-width: 768px) {
	.drop-menu {
		display: flex;
		gap: 118px;
		padding: 0;
		height: 100%;
	}
}
@media screen and (min-width: 1200px) {
	.drop-menu {
		gap: 332px;
		padding: 0;
		height: 100%;
		align-items: center;
	}
}
.drop-menu.is-open {
	display: flex;
	padding: 80px 40px 40px 40px;
	height: 796px;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: var(--background-color);
	box-shadow: 0px 1px 6px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229, 0px 2px 1px 0px #2e2f4214;
}

.button-general {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 24px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: var(--button-background-color);
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close {
	position: absolute;
	top: 40px;
	right: 40px;
}
@media screen and (min-width: 768px) {
	.menu-close {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.site-nav .item:not(:last-child) {
		margin-bottom: 40px;
	}
}

@media screen and (min-width: 768px) {
	.site-nav .list {
		display: flex;
		gap: 40px;
		align-items: center;
	}
}

.site-nav .our-link {
	display: block;
	padding-top: 24px;
	padding-bottom: 24px;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
	.site-nav .our-link {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
	}
}
@media screen and (min-width: 768px) {
	.our-link.line {
		color: var(--active-hero-button);
	}
	.line {
		position: relative;
	}
	.line::after {
		display: inline-block;
		position: absolute;
		content: "";
		bottom: 18px;
		height: 4px;
		width: 100%;
		left: 0px;
		border-radius: 2px;
		bottom: 0;
		background-color: var(--logo-hover-color);
	}
}
.site-nav .our-link:hover,
.site-nav .our-link:focus {
	color: var(--active-hero-button);
}
.site-nav .our-link:active {
	color: var(--logo-hover-color);
}

/* contacts */
.list.contacts {
	display: flex;
	flex-direction: column-reverse;
	gap: 40px;
}
.contacts:hover {
	color: var(--logo-hover-color);
}
@media screen and (min-width: 768px) {
	.list.contacts {
		flex-direction: column;
		gap: 4px;
	}
}
@media screen and (min-width: 1200px) {
	.list.contacts {
		flex-direction: row;
		gap: 40px;
		align-items: center;
	}
}
.phone-number {
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 1.1;
	color: var(--logo-hover-color);
}

.our-mail {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
	.contacts .item,
	.our-mail,
	.contacts {
		font-size: 12px;
		font-weight: 400;
		line-height: 1.3;
		letter-spacing: 0.04em;
		color: var(--primary-text-color);
	}
}
@media screen and (min-width: 1200px) {
	.contacts .item,
	.our-mail,
	.contacts {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
}
.social-media.company {
	gap: 56px;
}
@media screen and (min-width: 768px) {
	.social-media.company {
		display: none;
	}
}
.phone-mail {
	display: flex;
	flex-direction: column;
	gap: 48px;
}
@media screen and (min-width: 768px) {
	.phone-mail {
		padding-top: 24px;
		padding-bottom: 10px;
	}
}
@media screen and (min-width: 768px) {
	.phone-mail {
		padding-top: 24px;
		padding-bottom: 10px;
	}
}
@media screen and (min-width: 1200px) {
	.phone-mail {
		display: block;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

/* hero */
.hero {
	max-width: 428px;
	height: 432px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: center;
	background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url("../images/hero428.jpg");
	background-position: center;
	background-size: 428px 432px;
	background-repeat: no-repeat;
}
/* 2x screens, retina, 640x480 image */
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
	.box {
		background-image: url("../images/hero856.jpg");
	}
}
@media (min-width: 428px) {
	.hero {
		max-width: 768px;
		height: 436px;
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url("../images/hero768.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
	.box {
		background-image: url("../images/hero1536.jpg");
	}
}
@media (min-width: 768px) {
	.hero {
		max-width: 1440px;
		height: 600px;
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url("../images/hero1440.jpg");
	}
	@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
	.box {
		background-image: url("../images/hero2880.jpg");
	}
}

}
.hero {
	padding-bottom: 112px;
	padding-top: 112px;
	background-color: black;
}
.hero .heading {
	margin-bottom: 72px;
	color: var(--alternative-text-color);
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1;
	text-align: center;
}
.hero-btn,
.submit-button {
	display: block;
	border: 0;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	padding: 16px 32px 16px 32px;
	background-color: var(--logo-hover-color);
	color: var(--alternative-text-color);
	box-shadow: 0px 4px 4px 0px #00000026;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
}
/* values */

@media (min-width: 1200px) {
	.values .heading {
		font-size: 20px;
		line-height: 1.2;
	}
}
.values .description {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}
@media (min-width: 1200px) {
	.values .description {
		font-weight: 400;
	}
}

@media (min-width: 768px) {
	.values .list {
		display: flex;
		flex-wrap: wrap;
		margin-right: -24px;
		margin-bottom: -72px;
	}
	.values .item {
		flex-basis: calc((100% / 2 - 24px));
		margin-right: 24px;
		margin-bottom: 72px;
	}
}

@media (min-width: 1200px) {
	.values .list {
		margin-bottom: 0;
		justify-content: center;
	}
	.values .item {
		flex-basis: calc((100% / 4 - 72px));
		margin-bottom: 0;
	}
}
.values .rectangle {
	display: none;
}
.values .item:not(:last-child) {
	margin-bottom: 72px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* work */
.work.section {
	display: none;
}
/* our team */
.team-background {
	background-color: var(--secondary-background-color);
}
.team .item {
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}
.team .team-info {
	background-color: var(--background-color);
	padding-top: 32px;
	padding-bottom: 32px;
}
.team .heading,
.customers .heading,
.values .heading {
	margin-bottom: 72px;
	color: var(--secondary-text-color);
	font-size: 36px;
	line-height: 1.1;
	text-align: center;
}
.team .name,
.projects .heading {
	margin-bottom: 8px;
	color: var(--secondary-text-color);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
}
.team .position {
	margin-bottom: 8px;
	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
}
.team .list {
	display: flex;
	flex-direction: column;
	gap: 72px;
	margin-left: auto;
	margin-right: auto;
}
/* general media styles */
.social-media {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.team .social-media {
	gap: 24px;
	padding-left: 16px;
	padding-right: 16px;
}
.social-media a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--logo-hover-color);
}
.social-media li,
.media li {
	width: 40px;
	height: 40px;
}
.icon-social {
	display: block;
	margin: 0;
	height: 16px;
	width: 16px;
}

/* customers */
.clients {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}
.clients li:nth-child(2n + 1) {
	margin-right: 16px;
}
.clients li:nth-child(-n + 4) {
	margin-bottom: 72px;
}
.clients li {
	height: 88px;
	width: 190px;
}
.clients-contacts {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border-box-color);
	border-radius: 4px;
	color: var(--border-box-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-contacts:hover,
.clients-contacts:focus {
	border: 1px solid var(--logo-hover-color);
	color: var(--logo-hover-color);
}

.icon-logo {
	display: block;
	height: 56px;
	width: 110px;
	fill: currentColor;
}
/* footer */
.footer {
	background-color: var(--secondary-text-color);
}
.footer-info {
	margin-bottom: 72px;
	padding-left: 66px;
	padding-right: 66px;
}
.logo.bottom {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	text-align: center;
}
.footer-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--button-background-color);
}
.footer-heading {
	display: block;
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--alternative-text-color);
}
.our-social {
	margin-bottom: 72px;
}
.media {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.media a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media a:hover,
.media a:focus {
	background-color: var(--media-hover);
}
.icon-media {
	display: block;
	margin: 0;
	width: 24px;
	height: 24px;
}

.subscription-input {
	height: 40px;
	width: 100%;
	border-radius: 4px;
	padding-left: 16px;
	margin-bottom: 16px;
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: inherit;
	color: rgba(255, 255, 255, 0.6);
}
.subscription-input::placeholder {
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
	font-weight: 400;
	line-height: 2;
	letter-spacing: 0.04em;
}
.subscribe-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	height: 40px;
	width: 168px;
	border-radius: 4px;
	border: 0;
	padding: 8px 24px 8px 24px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--logo-hover-color);
	color: var(--alternative-text-color);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.06em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
}
.icon-subscribe {
	height: 24px;
	width: 24px;
	border-radius: 0px;
}

/* backdrop */
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.2);
}
.backdrop {
	position: fixed;
	top: 0;
	width: 0;
	width: 100%;
	height: 100%;
	padding-top: 96px;
	padding-left: 18px;
	padding-right: 18px;
	overflow-y: scroll;
	background-color: rgba(46, 47, 66, 0.4);
	transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
	position: relative;
	min-width: 392px;
	padding: 72px 16px 24px 16px;
	border-radius: 4px;
	background-color: var(--modal-background-color);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
	position: absolute;
	top: 24px;
	right: 24px;
	margin-bottom: 24px;
}

.icon-button {
	height: 8px;
	width: 8px;
}
.modal-button:hover,
.modal-button:focus {
	background-color: #404bbf;
	fill: #fff;
}

textarea {
	resize: none;
}
/* input */
.modal-text {
	margin-bottom: 16px;
	color: var(--secondary-text-color);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
}

.submit-button {
	display: block;
	width: 170px;
	margin-left: auto;
	margin-right: auto;
}
.modal-form {
	margin-bottom: 24px;
}
.form-field {
	position: relative;
	display: flex;
	flex-direction: column;
}
.form-field:nth-child(-n + 3) {
	margin-bottom: 8px;
}
.form-field:nth-child(4) {
	margin-bottom: 16px;
}

.form-input {
	display: block;
	height: 40px;
	padding-left: 34px;
	border: solid 1px rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
	border-color: var(--logo-hover-color);
}
.form-input:hover + .input-icon,
.form-input:focus + .input-icon {
	fill: var(--logo-hover-color);
}
.form-field textarea::placeholder,
.form-label {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.01em;
}
.input-icon {
	position: absolute;
	left: 16px;
	bottom: 8px;
	display: block;
	height: 24px;
	width: 18px;
	fill: var(--secondary-text-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person {
	height: 18px;
	bottom: 11px;
}
.comment textarea::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

.form-label {
	margin-bottom: 4px;
	color: var(--border-box-color);
}
.form-field textarea {
	height: 120px;
	padding-left: 16px;
}

.agreement {
	color: #757575;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: 0.04em;
}
.privacy-policy {
	color: var(--logo-hover-color);
}
.custom_checkbox {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 16px;
	width: 16px;
	margin-right: 8px;
	border-radius: 2px;
	border: 1.25px solid var(--secondary-text-color);
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom_check {
	display: inline-block;
	height: 8px;
	width: 10px;
}
.default-checkbox:checked + .custom_checkbox {
	background-color: #404bbf;
	border-color: #404bbf;
}
